<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:property-placeholder location="application.properties"></context:property-placeholder>

    <bean id="CallAnimal" class ="peaksoft.Jiraf">
        <property name="color" value="${jiraf.color}"> </property>
        <property name="paroda" value="${jiraf.paroda}"></property>
        <property name="age" value="${jiraf.age}"></property>
    </bean>



    <bean id="PersonWithHisAnimal" class="peaksoft.Person">
        <property name="animal" ref="CallAnimal">
      </property>
        <property name="name" value="${person.name}"></property>
        <property name="age" value="${person.age}"></property>
    </bean>
</beans>